<!DOCTYPE html>
<html>
  <head>
    <title>Books Details</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <h1>Books Details</h1>
  <body background="images/tree2.jpg">

  <div class="navbar"
    <nav>
    <a href="index.html">Homepage</a> 
    <br>
    <a href="books.html">Books</a> 
    <br>
    <a href="contact.html">Contact Us</a>
    <br>
    <a href="survey.html">Survey</a>
    <br>
    <a href="honesty.html">Honesty</a>
    <br>
    </nav>
  </div>


  <div class="books"
  <nav>
    <img src="images/48laws.jfif" width="200" height="250">
   
  </nav>
</div>

<div class="detailslaw"
<nav>
    <label> <b>The 48 Laws of Powern - Robert Greene</b> <br></label>
    <label>A person's success depends on learning how to influence others and have power over 
        <br>them, according to the 48 Laws of Power. Each law has its own example of a historical 
        <br>figure who has violated and followed it. 
        <br>Watchers have been able to exert unparalleled influence over others and events, 
        <br>while transgressors have seen their power diminished.</label>
    <br>
    <br>
    <label>- Published by Penguin Books</label>
</nav>

