<!DOCTYPE html>
<html>
  <head>
    <title>Books List</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <h1>Books List</h1>
  <body background="images/tree2.jpg">


  

  <div class="navbar"
    <nav>
    <a href="index.html">Homepage</a> 
    <br>
    <a href="books.html">Books</a> 
    <br>
    <a href="contact.html">Contact Us</a>
    <br>
    <a href="survey.html">Survey</a>
    <br>
    <a href="honesty.html">Honesty</a>
    <br>
    </nav>
  </div>


  <div class="books"
  <nav>
    <a href="book1.html"><img src="images/48laws.jfif" width="200" height="250"></a>
    <br>
    <a href="book2.html"><img src="images/artofseduction.jpg" width="200" height="250"></a>
    <br>
    <a href="book3.html"><img src="images/lawsofhuman.jpg" width="200" height="250"></a>
  </nav>
</div>

<div class="law"
<nav>
    <a href="book1.html"<label><b>The 48 Laws of Power - Robert Greene</b></label>
</nav></a>

<div class="seduction"
<nav>
    <a href="book2.html"<label><b>The Art of Seduction - Robert Greene</b></label>
</nav></a>

<div class="human"
<nav>
    <a href="book3.html"<label><b>The Laws of Human Nature - Robert Greene</b></label>
</nav></a>
  

</html>